.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 1rem 2rem;
  margin: auto;
}
table {
  justify-content: stretch;
  margin: auto;
  text-align: center;
}

.img-container {
}

input[type="file"] {
  display: none;
}
.td-img {
  text-align: right;
}
.td-description {
  text-align: justify;
  min-width: 10rem;
  max-width: 30rem;
}
.td-name {
  text-align: justify;
  min-width: 5;
  max-width: 10rem;
}
